{% extends 'main.html'%}
{% load static%}





{% block content%}<br><br>
{%include 'status.html'%}


</div><br><br>

</div>
<br>
<div class="card card-body">
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Date Ordered</th>
            <th>Status</th>

        </tr>

        {%for order in orders%}
        <tr>
            <td>{{order.product.name}}</td>
            <td>{{order.product.category}}</td>
            <td>{{order.date_created}}</td>
            <td>{{order.status}}</td>
            
          
        </tr>
        {%endfor%}
    </table>
</div>


{%endblock%}